<h2>Home</h2>
<div>
  <h5>Please Submit Form</h5>
  <form>
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname" value="John"><br><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" value="Doe"><br><br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" value="Doe@mail.com"><br><br>

    <label for="phone">Phone:</label><br>
    <input type="tel" id="phone" name="phone" value="+995 555 123 456"><br><br>

    <input type="submit" value="Submit">
  </form>
</div>

